@media (min-width: 640px) {

}
@media (min-width: 769px) {
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        flex: 0 0 32%;
    }
    .box-first {
        display: flex;
        flex: 0 0 66%;
    }
}

@media (min-width: 1025px) {


}
