@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wraper {
    width: 80%;
    margin: auto;
    background: #e2e7ec;
    padding-top: 5%;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.box {
    min-height: 540px;
    background: #ffffff;
    margin-bottom: 2%;
}
.box:first-child {
    margin-left: 0;
}
.box-first {
    background:
            linear-gradient(to top, black, transparent 85%),
            url(../i/main.jpg) no-repeat;
    background-size: cover;
}
.box-img {
    with: 100%;
    max-width: 100%;
}
.box-content_first {
    margin: auto 0 7.4% 5.4%;
}
.box-data {
    font-family: Ubuntu;
    font-size: 13px;
    color: #818181;
    margin: 5.56% 8.3% 25px;
    text-shadow: 0 0 0.1px;
}
.box-data_hide {
    visibility: hidden;
}
.box-name {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.9rem;
    margin: 0 8.3% 50px;
    text-shadow: 0 0 1px ;
}
.box-name_first {
    font-size: 30px;
    color: white;
    margin: 0 7.4% 5.4%;
    line-height: 2.4rem;
    font-weight: 100;
}

.box-icon {
    margin: auto 8.3% 5.56%;
    align-self: flex-start;
}